1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Trading Dash"
            VALUE "FileDescription", "Tradish Dashboard"
            VALUE "FileVersion", "1,0,0,0"
            VALUE "InternalName", "Trading Dash"
            VALUE "LegalCopyright", "Copyright © M Dhamani"
            VALUE "OriginalFilename", "TradingDash.exe"
            VALUE "ProductName", "Trading Dash"
            VALUE "ProductVersion", "1,0,0,0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END

IDI_ICON1 ICON DISCARDABLE "./RC/Icon.ico"